[Desktop Entry]
Name=Openza Tasks
Comment=Local-first task organizer for Linux
Exec=openza_tasks
Icon=openza
Type=Application
Categories=Office;ProjectManagement;
Terminal=false
StartupWMClass=openza_tasks
